<!-- about section started -->
<section class="about-section pt-5 pt-md-0">
  <div class="container">
      <div class="row pb-5 pt-5 pt-md-0">
          <div class="col-md-12">
              <h1 class="about-pycon text-white" data-aos="fade-left" data-aos-duration="5000">
                  {{ .hero_content.about_title }}
              </h1>
              <p class="text-grey pt-4">
                  {{ .hero_content.about_text }}
              </p>
              <div class="know-more  yellow-text white-hovertext">
                  <a href="{{ .hero_content.about_link }}" class="text-decoration-none fw-bold  yellow-text white-hovertext">Know More <i
                          class="fas fa-chevron-circle-right ps-2"></i> </a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- about section ended -->