<!-- communities section started -->
<section class="ticket-section">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-12 text-center mt-5 mb-5">
              <h1 class="fw-bold ticket-head pt-md-4" data-aos="fade-right" data-aos-duration="3000">Outreach Partners</h1>
          </div>
          <div class="col-md-11 p-0">
            <p class="pt-4">PyCon India is a volunteer-driven event. Outreach partners
              can help spread the word about our conference in communities all over the world and
              bring fresh faces to the platform in hopes of creating a more inclusive, accessible
              conference this year.
            </p>
          </div>
          {{ range .communities }}
          <div class="col-md-6 mb-3 text-center">
              <a href="{{ .link }}">
                <img src="{{ .image | absURL }}"
                  class="img-fluid sponsor-image"
                  alt="Logo of outreach partner {{ .name }}"
                  title="{{ .name }}">
              </a>
          </div>
          {{ end }}
      </div>
  </div>
</section>
<!-- communities section ended -->
