<!-- schedule section started -->
<section class="schedule-section pb-5 pb-md-0" id="schedule">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center pt-md-5">
              <h1 class="schedule-head text-white fw-bold pt-5" data-aos="fade-left" data-aos-duration="5000">
                  Schedule</h1>
              <p class="schedule-para text-grey pt-md-3">All the times mentioned in the schedule are in Indian
                  Standard time (IST) timezone.</p>
              <!--a href="" class="yellow-text white-hovertext text-decoration-none fw-bold">Download <i
                      class="fas fa-arrow-circle-down"></i></a> -->

              <!-- tabs -->
              <div class="tab-sec mt-5">
                  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                      {{ range $index, $element := .schedules }}
                      <li class="nav-item white-hovertext" role="presentation">
                          <button class="nav-link {{ if (eq $index 0) }}active{{ end }}" id="pills-{{ .date | urlize }}-tab" data-bs-toggle="pill"
                              data-bs-target="#pills-{{ .date | urlize }}" type="button" role="tab" aria-controls="pills-{{ .date | urlize }}"
                              aria-selected="true">{{ .date }}</button>
                      </li>
                      {{ end }}
                  </ul>
              </div>

              <div class="tab-content mt-md-5 pb-md-5" id="pills-tabContent">
                  {{ range $index, $element := .schedules }}
                  <div class="tab-pane fade {{ if (eq $index 0) }}show active{{ end }}" id="pills-{{ .date | urlize }}" role="tabpanel"
                      aria-labelledby="pills-{{ .date | urlize }}-tab">
                      <div class="content text-white">
                          <ul class="timeline">
                              {{ range $i, $elem := .schedule }}
                              <div class="row event {{ if (ne $i 0) }}mt-2{{ end }}" data-date="{{ .time }}">
                                  {{ range .talks }}
                                    {{ if (eq .type "workshop") }}
                                      <div
                                          class="col-lg-4 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                          <div class="timeline-box shadow">
                                              <li>
                                                  {{ if .link }}
                                                  <a href="{{ .link }}" class="talk-link">
                                                  {{ end }}
                                                    <h3 class="timeline-head text-white">{{ .title }}</h3>
                                                  {{ if .link }}
                                                  </a>
                                                  {{ end }}
                                                  <h6 class="yellow-text pt-md-3">{{ .speaker }}</h6>
                                              </li>
                                          </div>
                                      </div>
                                    {{ else if (eq .type "talk") }}
                                      <div
                                          class="col-lg-3 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                          <div class="timeline-box shadow">
                                              <li>
                                                  {{ if .link }}
                                                  <a href="{{ .link }}" class="talk-link">
                                                  {{ end }}
                                                    <h3 class="timeline-head text-white">{{ .title }}</h3>
                                                  {{ if .link }}
                                                  </a>
                                                  {{ end }}
                                                  <h6 class="yellow-text pt-md-3">{{ .speaker }}</h6>
                                              </li>
                                          </div>
                                      </div>
                                    {{ else }}
                                      <div class="col-md-12 ps-0">
                                          <div class="timeline-box shadow">
                                              <li>
                                                  {{ if .link }}
                                                  <a href="{{ .link }}" class="talk-link">
                                                  {{ end }}
                                                    <h3 class="timeline-head text-white text-center pt-2  fw-bold">{{ .title }}</h3>
                                                  {{ if .link }}
                                                  </a>
                                                  {{ end }}
                                                  {{ if .speaker }}
                                                  <h6 class="yellow-text text-center">{{ .speaker }}</h6>
                                                  {{ end }}
                                              </li>
                                          </div>
                                      </div>
                                    {{ end }}
                                  {{ end }}
                              </div>
                              {{ end }}
                          </ul>
                      </div>
                  </div>
                  {{ end }}
              </div>
              {{ if .extend }}
                <p class="schedule-para text-grey pt-md-3">
                    {{ .extend | safeHTML }} 
                </p>
              {{ end }}
          </div>
      </div>
  </div>
</section>
<!-- schedule section ended -->
