<!-- speaker section started -->
<section class="keynote-section">
  <div class="container">
      <div class="row pb-md-0 pb-5">
          <div class="col-md-12 pt-5">
              <h1 class="keynote-head text-white fw-bold" data-aos="fade-left" data-aos-duration="5000">Keynote
                  Speakers</h1>
          </div>

          {{ range .speakers }}
          <div class="col-md-4 col-6 mt-4">
              <div class="speaker-sec text-center">
                  <img src="{{ .image | absURL }}" class="img-fluid" alt="" title="">
                  <a href = "{{ .link }}">
                    <h3 class="key-head text-white pt-3">{{ .name }}</h3>
                  </a>
                  <p class="key-para text-grey">{{ .affiliation | safeHTML }}</p>
              </div>
          </div>
          {{ end }}
      </div>
  </div>
</section>
<!-- speaker section ended -->