<!-- speaker section started -->
<section class="keynote-section">
  <div class="container">
      <div class="row pb-md-0 pb-5">
          <div class="col-md-12 pt-5">
              <h1 class="keynote-head text-white fw-bold" data-aos="fade-left" data-aos-duration="5000">Keynote
                  Speakers</h1>
          </div>

          <div class="col-md-4 col-6 mt-4">
              <div class="speaker-sec text-center">
                  <img src="images/s1.png" class="img-fluid" alt="" title="">
                  <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                  <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
              </div>
          </div>

          <div class="col-md-4 col-6 mt-4">
              <div class="speaker-sec text-center">
                  <img src="images/s1.png" class="img-fluid" alt="" title="">
                  <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                  <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
              </div>
          </div>

          <div class="col-md-4 col-6 mt-4">
              <div class="speaker-sec text-center">
                  <img src="images/s1.png" class="img-fluid" alt="" title="">
                  <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                  <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
              </div>
          </div>

          <div class="col-md-4 col-6 mt-4">
              <div class="speaker-sec text-center">
                  <img src="images/s1.png" class="img-fluid" alt="" title="">
                  <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                  <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
              </div>
          </div>

          <div class="col-md-4 col-6 mt-4">
              <div class="speaker-sec text-center">
                  <img src="images/s1.png" class="img-fluid" alt="" title="">
                  <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                  <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
              </div>
          </div>

          <div class="col-md-4 col-6 mt-4">
              <div class="speaker-sec text-center">
                  <img src="images/s1.png" class="img-fluid" alt="" title="">
                  <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                  <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- speaker section ended -->