<!-- sponsors section started -->
<section class="sponsor-section" {{ if eq .snake "true" }} style="background: #21292e url('images/snake-down.png') no-repeat; background-position: top right" {{ end }}>
  <div class="container">
      <div class="row align-items-center justify-content-center ml-space">
          <div class="col-md-12 text-center mt-5 mb-5">
              <h1 class="text-white fw-bold sponsor-head pt-md-4" data-aos="fade-right" data-aos-duration="3000">{{ .title }}</h1>
          </div>
          {{ $showType := .type }}
          {{ range .sponsors }}
          {{ if eq .type $showType }}
          <div class="col-md-4 col-6 pt-md-5 mt-md-4 text-center">
              <a href="{{ .link }}">
                <img src="{{ .image | absURL }}"
                  class="img-fluid"
                  alt="Logo community sponsor {{ .name }}"
                  title="{{ .name }}"
                  style="margin: 1em; background: {{.background}}; padding: 1em">
              </a>
          </div>
          {{ end }}
          {{ end }}
      </div>
  </div>
</section>
<!-- sponsors section ended -->
