<!-- ticket section started -->
<section class="ticket-section pb-md-5">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center mt-5 mb-5">
              <h1 class="ticket-head pt-md-4" data-aos="zoom-in" data-aos-duration="5000">Tickets</h1>
          </div>
          <div class="col-md col-sm-3 col-5" data-aos="fade-left" data-aos-duration="5000">
              <h3 class="conference-head pt-0 pt-lg-0 pt-md-3">Conference
              </h3>
          </div>
          <div class="col-md-9 col-sm col-7 p-0">
              <div class="dotted-line mt-md-4 mt-2 pt-md-0 pt-1 overflow-hidden">
              </div>
          </div>
      </div>

      <div class="row">

          <!-- cards -->
          <div class="col-md-6 mb-3">
              <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                  <h3 class="white-card-head">Early Bird Ticket</h3>
                  <p class="white-card-para">
                      sale ends by 22 August, 2020 11:59 PM (Asia/Kolkata) OR completion of 300 tickets
                  </p>
                  <div class="row align-items-center">
                      <div class="col-lg-5 col-12   p-0">
                          <p class="rupee-violet mb-0 violet-text">₹ 149+<span class="rupee-head">GST</span></p>
                      </div>
                      <div class="col-lg-7 col-12  p-0">
                          <a href="" class="text-decoration-none">
                              <div class="violet-yellow text-center mt-md-3">
                                  Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-6 mb-3">
              <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                  <h3 class="white-card-head">Regular Ticket</h3>
                  <p class="white-card-para">
                      sale ends by 15 September, 2020 11:59 PM (Asia/Kolkata) OR completion of 2000 tickets
                  </p>
                  <div class="row align-items-center">
                      <div class="col-lg-5 col-12  p-0">
                          <p class="rupee-violet mb-0 violet-text">₹ 199+ <span class="rupee-head">GST</span></p>
                      </div>
                      <div class="col-lg-7 col-12 p-0">
                          <a href="" class="text-decoration-none">
                              <div class="violet-yellow text-center mt-md-3">
                                  Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-6 mb-3">
              <div class="white-card mt-md-5" data-aos="fade-left" data-aos-duration="5000">
                  <h3 class="white-card-head">Late Bird Ticket</h3>
                  <p class="white-card-para">
                      sale ends by 30 September, 2020 10:00 PM (Asia/Kolkata) OR completion of 300 tickets
                  </p>
                  <div class="row align-items-center">
                      <div class="col-lg-5 col-12 p-0">
                          <p class="rupee-violet mb-0 violet-text">₹ 499+ <span class="rupee-head">GST</span></p>
                      </div>
                      <div class="col-lg-7 col-12  p-0">
                          <a href="" class="text-decoration-none">
                              <div class="violet-yellow text-center mt-md-3">
                                  Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-6 mb-3">
              <div class="white-card mt-md-5" data-aos="fade-left" data-aos-duration="5000">
                  <h3 class="white-card-head">Contributor Ticket</h3>
                  <p class="white-card-para">
                      sale ends by 01 October, 2020 10:00 PM (Asia/Kolkata)
                  </p>
                  <div class="row align-items-center">
                      <div class="col-lg-5 col-12 p-0">
                          <p class="rupee-violet mb-0 violet-text">₹ 1499+ <span class="rupee-head">GST</span></p>
                      </div>
                      <div class="col-lg-7 col-12 p-0">
                          <a href="" class="text-decoration-none">
                              <div class="violet-yellow text-center mt-md-3">
                                  Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-md-6 mb-5">
              <div class="row">
                  <div class="col-md-5 col-sm-3 col-5 p-0" data-aos="fade-left" data-aos-duration="5000">
                      <h3 class="conference-head-1 mt-md-5 ps-md-3">Workshops
                      </h3>
                  </div>
                  <div class="col-md-6 col-sm col ps-0">
                      <div class="dotted-line mt-md-5 pt-md-4 pt-2 mt-1 overflow-hidden"></div>
                  </div>
              </div>
              <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                  <h3 class="white-card-head">Workshop Ticket</h3>
                  <p class="white-card-para">
                      sale ends by 01 October, 2020 12:00 PM (Asia/Kolkata) OR completion of 200 tickets
                  </p>
                  <div class="row align-items-center">
                      <div class="col-lg-5 col-12 p-0">
                          <p class="rupee-violet mb-0 violet-text">₹ 399+ <span class="rupee-head">GST</span></p>
                      </div>
                      <div class="col-lg-7 col-12 p-0">
                          <a href="" class="text-decoration-none">
                              <div class="violet-yellow text-center mt-md-3">
                                  Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-md-6 mb-5">
              <div class="row">
                  <div class="col-md-4 col-sm-3 col-4 p-0" data-aos="fade-left" data-aos-duration="5000">
                      <h3 class="conference-head-1 mt-md-5 ps-md-3">Devsprint
                      </h3>
                  </div>
                  <div class="col-md-7 col-sm col p-0">
                      <div class="dotted-line mt-md-5 pt-md-4 pt-2 mt-1 overflow-hidden"></div>
                  </div>
              </div>
              <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                  <h3 class="white-card-head">Devsprint Ticket</h3>
                  <p class="white-card-para">
                      sale ends by 03 October, 2020 12:00 PM (Asia/Kolkata) oR completion of 200 tickets
                  </p>
                  <div class="row align-items-center">
                      <div class="col-lg-5 col-12 p-0">
                          <p class="rupee-violet mb-0 violet-text ">Free</p>
                      </div>
                      <div class="col-lg-7 col-12 p-0">
                          <a href="" class="text-decoration-none">
                              <div class="violet-yellow text-center mt-md-3">
                                  Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- ticket section ended -->