<!-- ticket section started -->
<section class="ticket-section pb-md-5">
  <div class="container">
      <!-- Conference tickets -->
      <div class="row">
          <div class="col-md-12 text-center mt-5 mb-5">
              <h1 class="ticket-head pt-md-4" data-aos="zoom-in" data-aos-duration="5000">Tickets</h1>
          </div>
          <div class="col-md col-sm-3 col-5" data-aos="fade-left" data-aos-duration="5000">
              <h3 class="conference-head pt-0 pt-lg-0 pt-md-3">Conference
              </h3>
          </div>
          <div class="col-md-9 col-sm col-7 p-0">
              <div class="dotted-line mt-md-4 mt-2 pt-md-0 pt-1 overflow-hidden">
              </div>
          </div>
      </div>

      <div class="row">
        {{ range where .tickets "category" "conference" }}
          <!-- cards -->
          <div class="col-md-6 mb-3">
              <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                  <h3 class="white-card-head">{{ .name }}</h3>
                  <p class="white-card-para">
                      {{ .details }}
                  </p>
                  <div class="row align-items-center">
                      <div class="col-lg-5 col-12   p-0">
                          <p class="rupee-violet mb-0 violet-text">₹ {{ .price }}+<span class="rupee-head">GST</span></p>
                      </div>
                      <div class="col-lg-7 col-12  p-0">
                          <a href="{{ .link }}" class="text-decoration-none">
                              <div class="violet-yellow text-center mt-md-3">
                                  Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        {{ end }}

      </div>
      <div class="row">
        <!-- Workshop ticket-->
        {{ range where .tickets "category" "workshop" }}
          <div class="col-md-6 mb-5">
              <div class="row">
                  <div class="col-md-5 col-sm-3 col-5 p-0" data-aos="fade-left" data-aos-duration="5000">
                      <h3 class="conference-head-1 mt-md-5 ps-md-3">Workshops
                      </h3>
                  </div>
                  <div class="col-md-6 col-sm col ps-0">
                      <div class="dotted-line mt-md-5 pt-md-4 pt-2 mt-1 overflow-hidden"></div>
                  </div>
              </div>
              <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                  <h3 class="white-card-head">{{ .name }}</h3>
                  <p class="white-card-para">
                      {{ .details }}
                  </p>
                  <div class="row align-items-center">
                      <div class="col-lg-5 col-12 p-0">
                          <p class="rupee-violet mb-0 violet-text">₹ {{ .price }}+ <span class="rupee-head">GST</span></p>
                      </div>
                      <div class="col-lg-7 col-12 p-0">
                          <a href="{{ .link }}" class="text-decoration-none">
                              <div class="violet-yellow text-center mt-md-3">
                                  Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        {{ end }}


        <!-- Devsprint ticket-->
        {{ range where .tickets "category" "devsprint" }}
          <div class="col-md-6 mb-5">
              <div class="row">
                  <div class="col-md-4 col-sm-3 col-4 p-0" data-aos="fade-left" data-aos-duration="5000">
                      <h3 class="conference-head-1 mt-md-5 ps-md-3">Devsprint
                      </h3>
                  </div>
                  <div class="col-md-7 col-sm col p-0">
                      <div class="dotted-line mt-md-5 pt-md-4 pt-2 mt-1 overflow-hidden"></div>
                  </div>
              </div>
              <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                  <h3 class="white-card-head">{{ .name }}</h3>
                  <p class="white-card-para">
                      {{ .details }}
                  </p>
                  <div class="row align-items-center">
                      <div class="col-lg-5 col-12 p-0">
                          <p class="rupee-violet mb-0 violet-text ">
                            {{ if eq .price "Free" }}
                              Free
                            {{ else }}
                              ₹ {{ .price }}+ <span class="rupee-head">GST</span>
                            {{ end }}
                          </p>
                      </div>
                      <div class="col-lg-7 col-12 p-0">
                          <a href="" class="text-decoration-none">
                              <div class="violet-yellow text-center mt-md-3">
                                  Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
        {{ end }}

      </div>
  </div>
</section>
<!-- ticket section ended -->