<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end  }}</title>
    <link rel="icon" type="image/png" href="{{ "images/favicon.png" | absURL }}">
    <link href="{{ "css/style.css" | absURL }}" rel="stylesheet">
    <link href="{{ "css/font-awesome.min.css" | absURL }}" rel="stylesheet">
    <link href="{{ "css/aos.css" | absURL }}" rel="stylesheet">
    <link href="{{ "css/bootstrap.min.css" | absURL }}" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>

<body class="enabled-focus">

  {{ partial "header.html" . }}

  {{ block "main" . }}
  {{ end }}

  {{ partial "footer.html" . }}

  <script src="{{ "js/aos.js" | absURL }}"></script>
  <script src="{{ "js/bootstrap.bundle.min.js" | absURL }}"></script>
  <script src="{{ "js/bootstrap.popper.min.js" | absURL }}"></script>
  <script>
      AOS.init({
          once: 'true',
          disable: window.matchMedia('(prefers-reduced-motion: reduce)').matches
      });
  </script>
  {{ block "page_script" . }}
  {{ end }}

</body>
</html>