{{ define "main"}}
  <!-- about page section started -->

  <div class="about-page pb-md-5">

    <div class="container pt-md-4 pb-md-5">

        <div class="row pt-5">

            <div class="col-md-5 left-para-large pt-md-5">

                <p class="text-white mb-0 fw-bold">Divided by a

                    <span class="mb-0 yellow-text fw-bold">pandemic.</span>

                    <span class="text-white mb-0 fw-bold">Connected by</span>

                    <span class="mb-0 yellow-text fw-bold">python.</span>

                </p>

            </div>

            <div class="col-md-7 pt-5">

                <h1 class="about-pg-head text-white">

                    What is PyCon India ?

                </h1>

                <p class="text-grey">PyCon India is the largest annual gathering of Python aficionados and experts
                    in India where Pythonistas come from around the world to celebrate their use of Python, and
                    share their knowledge and experience. It is a volunteer-driven conference aimed to foster the
                    adoption, use, and development of the Python programming language. The 13th edition of PyCon
                    India will be taking place online from 17th September to 20th September 2021.With this unique
                    scenario at hand, we plan to make this year's conference bigger, better, and more accessible
                    to Pythonistas all across the world who can watch, participate and share their views right
                    from the comfort of their homes. </p>

            </div>

            <div class="col-md-12 pt-5 pb-4">

                <h1 class="text-white about-pg-head pt-md-5">What happens during the conference? </h1>

                <p class="text-grey pt-3">PyCon India 2021 consists of 3 events rolled into one mega event for 3
                days of learning and fun: </p>

            </div>

            <div class="col-md-3">

                <h4 class="yellow-text sub-about-head">Conference Days:</h4>

                <p class="text-grey pt-2">September 18-19, 2021 will be the Conference Days. On the conference days, people

                    will be able to connect with other Pythonistas, discuss their experiences, present their ideas,

                    and attend the talks, BoFs and Poster Sessions.</p>

            </div>

            <div class="col-md-4">

                <h4 class="yellow-text sub-about-head">Workshop Day :</h4>

                <p class="text-grey pt-2"> Workshop Day will be on September 17, 2021. On the workshop day,
                    people can attend hands-on workshops, and learn about a topic they have been excited
                    about, but didn't get the time or resources to learn about from an expert. </p>

            </div>

            <div class="col-md-5">

                <h4 class="yellow-text sub-about-head">Devsprint :</h4>

                <p class="text-grey pt-2"> The Developer Sprints will be on September 20, 2021. During the Devsprints,

                    people can contribute to open source projects, guided by mentors having experience with

                    open-source and their projects. This is a great opportunity for people to start contributing to

                    Python and other open-source projects.

                </p>

            </div>

        </div>

    </div>

  </div>

  <!-- about page section ended -->



  <!-- about sub section started -->

  <div class="about-sub-sec pt-5 pt-md-0">

      <div class="container">

          <div class="row">

              <div class="col-md-12">

                  <h1 class="text-white about-pg-head">Want to submit a talk/workshop for the conference? </h1>

                  <p class="text-grey pt-3">

                      With PyCon India 2021  being online this year, we are introducing preview videos in our proposal

                      submission workflow. Preview videos are you talking about your proposal, topics you intend to

                      cover in the talk, and how you intend to cover them. Participants are strongly suggested to

                      upload links of their preview videos while submitting their proposals. It will be immensely

                      helpful for reviewers to go through preview videos and take that into account before making

                      final decisions on your talk proposal. You can check out our <a href="https://in.pycon.org/cfp/2021/proposals/"
                          class="yellow-text yellow-hovertext"><u>CFP page </u></a> and <a href="https://in.pycon.org/blog/2021/cfp-announcement.html"
                          class="yellow-text yellow-hovertext"><u> blog</u> </a>for more details. </p>

                  
                
                <h1 class="text-white about-pg-head">What are BoFs and Poster Sessions? How one can submit these Proposals? </h1>

                  <p class="text-grey pt-3">

                      Birds of a Feather sessions (or BoFs) are informal gatherings of like-minded individuals 
                    
                      who wish to discuss a certain topic without a pre-planned agenda. BoFs are informal or 
                    
                      relaxed pannel discussions with active participation from the audiance. </p>
                
                
                  <p class="text-grey pt-3">

                      Posters are graphical summary of projects or ideas. The poster session provides an opportunity to 
                    
                      network with the conference attendees and acts as a starting point for further discussions. This being an online event, 
                    
                      poster presentation will be done with a pre-recorded video of 5-10 minutes which will be followed by a short Q & A session.</p>
                    
                  <p class="text-grey pt-3">

                      To submit the proposal visit <a href="https://in.pycon.org/cfp/bofs-and-posters-2021/proposals/"
                          class="yellow-text yellow-hovertext"><u>BoF and Poster Submission Page</u></a> and read our <a href=" "
                          class="yellow-text yellow-hovertext"><u> blog</u> </a>for more details. </p>
                

                  <h1 class="text-white about-pg-head pt-5">Who are the organizers and what is our vision? </h1>

                  <h3 class="yellow-text"> Organized by the people, for the people </h3>

                  <p class="text-grey pt-3">

                      PyCon India is organized every year by Python communities and user groups all across India as a

                      way to pool their experience and expertise into making a more successful, more accessible

                      conference every year. The conference is organized entirely by volunteers all the way from

                      planning, to finding the speakers, to managing the event successfully. We have a very large

                      distributed team of enthusiastic and experienced volunteers coming from various Python

                      communities all across India. </p>



                  <p class="text-grey pt-3">

                      Our Vision is to bring the cumulative knowledge and experience of our community members to the

                      public. We want to create a responsible and inclusive ecosystem where Pythonistas from diverse

                      backgrounds can come together to share their stories and gain something from other's

                      experiences. </p>



                  <p class="text-grey pt-3">The Python programming language has become an essential tool for people

                      from various backgrounds and careers, including programmers, mathematicians, doctors,

                      scientists, security researchers, hardware designers, and many more. We aim to ensure the

                      conference can reflect the diversity of our community and facilitate the exchange of ideas,

                      knowledge, and experiences enriching the community. </p>



                  <p class="text-grey pt-3">

                      We would also like to ensure that the conference approaches everyone with respect, is accessible

                      to everyone no matter their situation, and that we resolve differences peacefully in case of

                      conflicts. You can also help with that by reading our and following it .

                  </p>

              </div>

          </div>

      </div>

  </div>

  <!-- about sub section ended -->
{{ end }}
