<!-- footer section started -->
<footer class="bg-footer">
  <div class="container-fluid">
      <div class="row ml-space">
          <div class="col-xl-3  col-md-3 footerlogo p-0">
              <img src="{{ "images/mainlogo1.png" | absURL }}" class="img-fluid" alt="" title="" style="width:250px;">
          </div>
          <div class="col-xl-2  col-md-3 col-6 ml-top">
              <h4 class="text-white footer-head mb-md-4">Follow Us on</h4>
              <ul class="list-group list-group-horizontal bg-yellow-hover">
                  {{ range $index, $value := .Site.Data.footer.social_links }}
                  <li class="list-group-item pe-0 pe-md{{ if (eq $index 0) }} ps-0{{ end }}">
                      <a href="{{ .link }}">
                          <!-- <img src="images/fb.png" class="img-fluid" alt=""
                              title="facebook"> -->
                          <i class="{{ .icon }} text-white" title="{{ .name }}"></i>
                      </a>
                  </li>
                  {{ end }}
              </ul>
              <!-- only for mobile -->
              <a href="{{ .Site.Data.footer.primary_button_link }}" class="text-decoration-none d-block d-md-none mt-4">
                  <div class="yellow-white text-center mt-md-5">
                    {{ .Site.Data.footer.primary_button_text }}
                  </div>
              </a>
          </div>
          <div class="col-xl-2  col-md-3 col-6 ml-top ps-md-5">
              <h4 class="text-white footer-head mb-md-2">Quick Links</h4>
              <ul class="list-group quick-hover">
                  {{ range .Site.Data.footer.quick_links }}
                  <li class="list-group-item ps-0"><a href="{{ .link | absURL }}"
                          class="text-decoration-none text-white fw-bold">{{ .name }}</a></li>
                  {{ end }}
              </ul>
          </div>
        {{ if .Site.Data.tickets.live }}
          <div class="col-xl-3  col-md-3 ml-top mt-md-3 d-none d-md-block">
              <a href="{{ .Site.Data.footer.primary_button_link }}" class="text-decoration-none">
                  <div class="yellow-white text-center mt-md-5">
                    {{ .Site.Data.footer.primary_button_text }}
                  </div>
              </a>
          </div>
        {{ end }}
          <div class="col-lg-12 text-center  pt-lg-2 pt-md-5 pt-5 pb-md-4">
              <p class="text-grey pt-4">Copyright © 2021 PyCon India.</p>
          </div>
      </div>
  </div>
</footer>
<!-- footer section ended -->
