<!-- footer section started -->
<footer class="bg-footer">
  <div class="container-fluid">
      <div class="row ml-space">
          <div class="col-xl-3  col-md-3 footerlogo p-0">
              <img src="/2021-neo/images/mainlogo1.png" class="img-fluid" alt="" title="" style="width:250px;">
          </div>
          <div class="col-xl-2  col-md-3 col-6 ml-top">
              <h4 class="text-white footer-head mb-md-4">Follow Us on</h4>
              <ul class="list-group list-group-horizontal bg-yellow-hover">
                  <li class="list-group-item pe-0 pe-md ps-0"><a href="">
                          <!-- <img src="/2021-neo/images/fb.png" class="img-fluid" alt=""
                              title="facebook"> -->
                          <i class="fa fa-facebook text-white" title="facebook"></i>
                      </a>
                  </li>
                  <li class="list-group-item pe-0 pe-md"><a href="">
                          <!-- <img src="/2021-neo/images/insta.png" class="img-fluid" alt=""
                              title="instagram"> -->
                          <i class="fa fa-instagram text-white" title="instagram"></i>
                      </a></li>
                  <li class="list-group-item pe-0 pe-md"><a href="">
                          <!-- <img src="/2021-neo/images/twitter.png" class="img-fluid" alt=""
                              title="twitter"> -->
                          <i class="fa fa-twitter text-white" title="twitter"></i>
                      </a></li>
                  <li class="list-group-item pe-0 pe-md"><a href="">
                          <i class="fa fa-linkedin text-white" title="linkedin"></i>
                      </a></li>
              </ul>
              <!-- only for mobile -->
              <a href="" class="text-decoration-none d-block d-md-none mt-4">
                  <div class="yellow-white text-center mt-md-5">
                      Book ticket
                  </div>
              </a>
          </div>
          <div class="col-xl-2  col-md-3 col-6 ml-top ps-md-5">
              <h4 class="text-white footer-head mb-md-2">Quick Links</h4>
              <ul class="list-group quick-hover">
                  <li class="list-group-item ps-0"><a href=""
                          class="text-decoration-none text-white fw-bold">Speakers</a></li>
                  <li class="list-group-item ps-0"><a href="/2021-neo/about/"
                          class="text-decoration-none text-white fw-bold">About</a></li>
                  <li class="list-group-item ps-0"><a href=""
                          class="text-decoration-none text-white fw-bold">Sponsors</a></li>
                  <li class="list-group-item ps-0"><a href=""
                          class="text-decoration-none text-white fw-bold">Schedule</a></li>
              </ul>
          </div>
          <div class="col-xl-3  col-md-3 ml-top mt-md-3 d-none d-md-block">
              <a href="" class="text-decoration-none">
                  <div class="yellow-white text-center mt-md-5">
                      Book ticket
                  </div>
              </a>
          </div>
          <div class="col-lg-12 text-center  pt-lg-2 pt-md-5 pt-5 pb-md-4">
              <p class="text-grey pt-4">Copyright © 2021 PyCon India.</p>
          </div>
      </div>
  </div>
</footer>
<!-- footer section ended -->