
{{ define "main"}}
    
    {{ partial "sections/hero.html" (dict "hero_content" .Site.Data.hero) }}

    {{ partial "sections/about.html" (dict "hero_content" .Site.Data.hero) }}

    <!-- Keynote Speakers -->
    {{ if .Site.Data.keynote_speakers.live }}
        {{ partial "sections/speakers.html" (dict "speakers" .Site.Data.keynote_speakers.data) }}
    {{ end }}

    <!-- Tickets-->
    {{ if .Site.Data.tickets.live }}
        {{ partial "sections/ticket.html" (dict "tickets" .Site.Data.tickets.data) }}
    {{ end }}

    <!-- Schedule -->
    <!-- TODO: Convert into proper data format and then modify and include partial-->

    <!-- Outreach Partners -->
    {{ if .Site.Data.communities.live }}
        {{ partial "sections/community.html" (dict "communities" .Site.Data.communities.data "outreach_blog_link" .Site.Data.communities.outreach_blog_link "outreach_form_link" .Site.Data.communities.outreach_form_link) }}
    {{ end }}

    <!-- Community Sponsors -->
    {{ if .Site.Data.sponsors.live }}
        {{ partial "sections/sponsors.html" (dict "sponsors" .Site.Data.sponsors.data) }}
    {{ end }}
    
{{ end }}
