
{{ define "main"}}
    <!-- mob banner section started-->
    <div class="bg-banner-mob d-block d-sm-none">
        <div class="container">
            <div class="row">
                <div class="col-12"></div>
            </div>
        </div>
    </div>
    <!-- mob banner section ended -->
    <!-- banner section started -->
    <div class="bg-banner">
        <div class="container pt-md-5">
            <div class="row pt-md-5">
                <div class="col-md-6 pt-5">
                    <img src="{{ "images/datetime.png" | absURL }}" class="img-fluid" alt="" title="">
                    <img src="{{ "images/pycon.png" | absURL }}" class="img-fluid pyconimg pt-3" alt="" title="">
                    <p class="banner-para mt-4" data-aos="fade-left" data-aos-duration="5000">The largest gathering of
                        Pythonistas in India for the Python programming
                        language. </p>
                    <div class="row mt-md-4 pb-md-4 pb-5 align-items-center">
                        <div class="col-lg-5 col-md-7 col-sm-6 col-12  ps-3 ps-md-0">
                            <a href="" class="text-decoration-none">
                                <div class="violet-yellow text-center" data-aos="fade-left"
                                    data-aos-anchor-placement="top-bottom" data-aos-duration="5000">
                                    Submit a Talk
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-7 col-md col-sm-6 col-12 yellow-text white-hovertext text-md text-center pt-4 pt-sm pt-md"
                            data-aos="fade-left" data-aos-anchor-placement="top-bottom" data-aos-duration="5000">
                            <a href="" class="text-decoration-none yellow-text white-hovertext book-ticket ps-lg-4">
                                Book ticket <i class="fas fa-chevron-circle-right ps-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- banner section ended -->

    <!-- about section started -->
    <section class="about-section pt-5 pt-md-0">
        <div class="container">
            <div class="row pb-5 pt-5 pt-md-0">
                <div class="col-md-12">
                    <h1 class="about-pycon text-white" data-aos="fade-left" data-aos-duration="5000">
                        About PyCon India
                    </h1>
                    <p class="text-grey pt-4">PyCon India is the largest gathering of Pythonistas in India for the
                        Python programming language. The 13th edition of PyCon India will be taking place online from
                        17th September to 20th September 2021. With this unique scenario at hand, we plan to make this
                        year's conference bigger, better, and more accessible to Pythonistas all across the world who
                        can watch, participate and share their views right from the comfort of their homes. </p>
                    <div class="know-more  yellow-text white-hovertext">
                        <a href="" class="text-decoration-none fw-bold  yellow-text white-hovertext">Know More <i
                                class="fas fa-chevron-circle-right ps-2"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about section ended -->

    <!-- keynote speaker section started -->
    <section class="keynote-section">
        <div class="container">
            <div class="row pb-md-0 pb-5">
                <div class="col-md-12 pt-5">
                    <h1 class="keynote-head text-white fw-bold" data-aos="fade-left" data-aos-duration="5000">Keynote
                        Speakers</h1>
                </div>

                <div class="col-md-4 col-6 mt-4">
                    <div class="speaker-sec text-center">
                        <img src="images/s1.png" class="img-fluid" alt="" title="">
                        <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                        <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
                    </div>
                </div>

                <div class="col-md-4 col-6 mt-4">
                    <div class="speaker-sec text-center">
                        <img src="images/s1.png" class="img-fluid" alt="" title="">
                        <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                        <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
                    </div>
                </div>

                <div class="col-md-4 col-6 mt-4">
                    <div class="speaker-sec text-center">
                        <img src="images/s1.png" class="img-fluid" alt="" title="">
                        <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                        <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
                    </div>
                </div>

                <div class="col-md-4 col-6 mt-4">
                    <div class="speaker-sec text-center">
                        <img src="images/s1.png" class="img-fluid" alt="" title="">
                        <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                        <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
                    </div>
                </div>

                <div class="col-md-4 col-6 mt-4">
                    <div class="speaker-sec text-center">
                        <img src="images/s1.png" class="img-fluid" alt="" title="">
                        <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                        <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
                    </div>
                </div>

                <div class="col-md-4 col-6 mt-4">
                    <div class="speaker-sec text-center">
                        <img src="images/s1.png" class="img-fluid" alt="" title="">
                        <h3 class="key-head text-white pt-3">Aloit Sharma</h3>
                        <p class="key-para text-grey">Amazon Web Services Unicode Consortium</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- keynote speaker section ended -->

    <!-- ticket section started -->
    <section class="ticket-section pb-md-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5 mb-5">
                    <h1 class="ticket-head pt-md-4" data-aos="zoom-in" data-aos-duration="5000">Tickets</h1>
                </div>
                <div class="col-md col-sm-3 col-5" data-aos="fade-left" data-aos-duration="5000">
                    <h3 class="conference-head pt-0 pt-lg-0 pt-md-3">Conference
                    </h3>
                </div>
                <div class="col-md-9 col-sm col-7 p-0">
                    <div class="dotted-line mt-md-4 mt-2 pt-md-0 pt-1 overflow-hidden">
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- cards -->
                <div class="col-md-6 mb-3">
                    <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                        <h3 class="white-card-head">Early Bird Ticket</h3>
                        <p class="white-card-para">
                            sale ends by 22 August, 2020 11:59 PM (Asia/Kolkata) OR completion of 300 tickets
                        </p>
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-12   p-0">
                                <p class="rupee-violet mb-0 violet-text">₹ 149+<span class="rupee-head">GST</span></p>
                            </div>
                            <div class="col-lg-7 col-12  p-0">
                                <a href="" class="text-decoration-none">
                                    <div class="violet-yellow text-center mt-md-3">
                                        Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                        <h3 class="white-card-head">Regular Ticket</h3>
                        <p class="white-card-para">
                            sale ends by 15 September, 2020 11:59 PM (Asia/Kolkata) OR completion of 2000 tickets
                        </p>
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-12  p-0">
                                <p class="rupee-violet mb-0 violet-text">₹ 199+ <span class="rupee-head">GST</span></p>
                            </div>
                            <div class="col-lg-7 col-12 p-0">
                                <a href="" class="text-decoration-none">
                                    <div class="violet-yellow text-center mt-md-3">
                                        Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="white-card mt-md-5" data-aos="fade-left" data-aos-duration="5000">
                        <h3 class="white-card-head">Late Bird Ticket</h3>
                        <p class="white-card-para">
                            sale ends by 30 September, 2020 10:00 PM (Asia/Kolkata) OR completion of 300 tickets
                        </p>
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-12 p-0">
                                <p class="rupee-violet mb-0 violet-text">₹ 499+ <span class="rupee-head">GST</span></p>
                            </div>
                            <div class="col-lg-7 col-12  p-0">
                                <a href="" class="text-decoration-none">
                                    <div class="violet-yellow text-center mt-md-3">
                                        Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="white-card mt-md-5" data-aos="fade-left" data-aos-duration="5000">
                        <h3 class="white-card-head">Contributor Ticket</h3>
                        <p class="white-card-para">
                            sale ends by 01 October, 2020 10:00 PM (Asia/Kolkata)
                        </p>
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-12 p-0">
                                <p class="rupee-violet mb-0 violet-text">₹ 1499+ <span class="rupee-head">GST</span></p>
                            </div>
                            <div class="col-lg-7 col-12 p-0">
                                <a href="" class="text-decoration-none">
                                    <div class="violet-yellow text-center mt-md-3">
                                        Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-5">
                    <div class="row">
                        <div class="col-md-5 col-sm-3 col-5 p-0" data-aos="fade-left" data-aos-duration="5000">
                            <h3 class="conference-head-1 mt-md-5 ps-md-3">Workshops
                            </h3>
                        </div>
                        <div class="col-md-6 col-sm col ps-0">
                            <div class="dotted-line mt-md-5 pt-md-4 pt-2 mt-1 overflow-hidden"></div>
                        </div>
                    </div>
                    <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                        <h3 class="white-card-head">Workshop Ticket</h3>
                        <p class="white-card-para">
                            sale ends by 01 October, 2020 12:00 PM (Asia/Kolkata) OR completion of 200 tickets
                        </p>
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-12 p-0">
                                <p class="rupee-violet mb-0 violet-text">₹ 399+ <span class="rupee-head">GST</span></p>
                            </div>
                            <div class="col-lg-7 col-12 p-0">
                                <a href="" class="text-decoration-none">
                                    <div class="violet-yellow text-center mt-md-3">
                                        Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-5">
                    <div class="row">
                        <div class="col-md-4 col-sm-3 col-4 p-0" data-aos="fade-left" data-aos-duration="5000">
                            <h3 class="conference-head-1 mt-md-5 ps-md-3">Devsprint
                            </h3>
                        </div>
                        <div class="col-md-7 col-sm col p-0">
                            <div class="dotted-line mt-md-5 pt-md-4 pt-2 mt-1 overflow-hidden"></div>
                        </div>
                    </div>
                    <div class="white-card mt-md-5" data-aos="fade-right" data-aos-duration="5000">
                        <h3 class="white-card-head">Devsprint Ticket</h3>
                        <p class="white-card-para">
                            sale ends by 03 October, 2020 12:00 PM (Asia/Kolkata) oR completion of 200 tickets
                        </p>
                        <div class="row align-items-center">
                            <div class="col-lg-5 col-12 p-0">
                                <p class="rupee-violet mb-0 violet-text ">Free</p>
                            </div>
                            <div class="col-lg-7 col-12 p-0">
                                <a href="" class="text-decoration-none">
                                    <div class="violet-yellow text-center mt-md-3">
                                        Book ticket <i class="text-white fas fa-chevron-circle-right ps-2"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ticket section ended -->

    <!-- schedule section started -->
    <section class="schedule-section pb-5 pb-md-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center pt-md-5">
                    <h1 class="schedule-head text-white fw-bold pt-5" data-aos="fade-left" data-aos-duration="5000">
                        Schedule</h1>
                    <p class="schedule-para text-grey pt-md-3">All the times mentioned in the schedule are in Indian
                        Standard time (IST) timezone.</p>
                    <a href="" class="yellow-text white-hovertext text-decoration-none fw-bold">Download <i
                            class="fas fa-arrow-circle-down"></i></a>

                    <!-- tabs -->
                    <div class="tab-sec mt-5">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item white-hovertext" role="presentation">
                                <button class="nav-link  active" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">2<sup>nd</sup> May</button>
                            </li>
                            <li class="nav-item white-hovertext" role="presentation">
                                <button class="nav-link " id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">3<sup>rd</sup> May</button>
                            </li>
                            <li class="nav-item white-hovertext" role="presentation">
                                <button class="nav-link " id="pills-contact-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-contact" type="button" role="tab"
                                    aria-controls="pills-contact" aria-selected="false">4<sup>th</sup> May</button>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content mt-md-5 pb-md-5" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <div class="content text-white">
                                <ul class="timeline">
                                    <div class="row event" data-date="11:30">
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Getting Startedwith Python</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Python for Computational Social
                                                        Science with Text, Networks and clever data games</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Getting Startedwith Python</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Getting Startedwith Python</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row event mt-2" data-date="06:30">
                                        <div class="col-md-12">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white text-center pt-2  fw-bold">Break
                                                        / Networking</h3>

                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row event mt-2" data-date="07:30">
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch  mb-lg-0 mb-4 ps-0">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white"> Python on Kubernetes: A primer
                                                    </h3>
                                                    <h6 class="yellow-text pt-md-3">Nabarun Pal</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch  mb-lg-0 mb-4 ps-0">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white"> Python on Kubernetes: A primer
                                                    </h3>
                                                    <h6 class="yellow-text pt-md-3">Nabarun Pal</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch  mb-lg-0 mb-4 ps-0">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white"> Python on Kubernetes: A primer
                                                    </h3>
                                                    <h6 class="yellow-text pt-md-3">Nabarun Pal</h6>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="content text-white">
                                <ul class="timeline">
                                    <div class="row event" data-date="11:30">
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Getting Startedwith Python</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Python for Computational Social
                                                        Science with Text, Networks and clever data games</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Getting Startedwith Python</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Getting Startedwith Python</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row event mt-2" data-date="06:30">
                                        <div class="col-md-12">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white text-center pt-2  fw-bold">Break
                                                        / Networking</h3>

                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row event mt-2" data-date="07:30">
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch  mb-lg-0 mb-4 ps-0">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white"> Python on Kubernetes: A primer
                                                    </h3>
                                                    <h6 class="yellow-text pt-md-3">Nabarun Pal</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch  mb-lg-0 mb-4 ps-0">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white"> Python on Kubernetes: A primer
                                                    </h3>
                                                    <h6 class="yellow-text pt-md-3">Nabarun Pal</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch  mb-lg-0 mb-4 ps-0">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white"> Python on Kubernetes: A primer
                                                    </h3>
                                                    <h6 class="yellow-text pt-md-3">Nabarun Pal</h6>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab">
                            <div class="content text-white">
                                <ul class="timeline">
                                    <div class="row event" data-date="11:30">
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Getting Startedwith Python</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Python for Computational Social
                                                        Science with Text, Networks and clever data games</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Getting Startedwith Python</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 ps-0 d-flex align-items-stretch mb-lg-0 mb-4">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white">Getting Startedwith Python</h3>
                                                    <h6 class="yellow-text pt-md-3">Evan Smith</h6>
                                                </li>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row event mt-2" data-date="06:30">
                                        <div class="col-md-12">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white text-center pt-2  fw-bold">Break
                                                        / Networking</h3>

                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row event mt-2" data-date="07:30">
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch  mb-lg-0 mb-4 ps-0">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white"> Python on Kubernetes: A primer
                                                    </h3>
                                                    <h6 class="yellow-text pt-md-3">Nabarun Pal</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch  mb-lg-0 mb-4 ps-0">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white"> Python on Kubernetes: A primer
                                                    </h3>
                                                    <h6 class="yellow-text pt-md-3">Nabarun Pal</h6>
                                                </li>
                                            </div>
                                        </div>
                                        <div
                                            class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch  mb-lg-0 mb-4 ps-0">
                                            <div class="timeline-box shadow">
                                                <li>
                                                    <h3 class="timeline-head text-white"> Python on Kubernetes: A primer
                                                    </h3>
                                                    <h6 class="yellow-text pt-md-3">Nabarun Pal</h6>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- schedule section ended -->

    <!-- sponsors section started -->
    <!--  <section class="sponsor-section">
        <div class="container-fluid"> -->
    <!-- <div class="row align-items-center ml-space">
                <div class="col-lg-7 col-md col-sm-4 p-0">
                    <h1 class="text-white fw-bold sponsor-head" data-aos="fade-right" data-aos-duration="3000">Sponsors</h1>
                </div>
                <div class="col-lg-4 col-md col-sm" data-aos="fade-left" data-aos-duration="3000">
                    <a href="" class="yellow-text yellow-hovertext text-decoration-none">Download Sponsorship
                        Prospectus <i class="fas fa-arrow-circle-down"></i></a>
                </div>
                <div class="col-md-11 p-0">
                    <p class="text-grey pt-4">PyCon India is a volunteer-driven event Sponsoring the event helps
                        bring the volunteers effort to fruition, sustain, and improve the conference and grow the
                        community. Sponsors help us make the conference affordable, bring more facilities to our
                        attendees, and maintain the inventory for the conference. </p>
                </div> -->
    <!-- platinum sponsor -->
    <!-- <div class="col-md-2 col-sm-2 col-3 p-0" data-aos="fade-left" data-aos-duration="3000">
                    <h3 class="spon-subhead yellow-text mt-5">Platinum
                    </h3>
                </div>
                <div class="col-md-10 col-sm-10 col-9 p-0 mt-5" data-aos="fade-left" data-aos-duration="3000">
                    <div class="dotted-line"></div>
                </div>
                <div class="col-md-4 col-6 pt-md-5 mt-md-4">
                    <img src="images/sp-1.png" class="img-fluid" alt="" title="">
                </div>
                <div class="col-md-4 col-6 pt-md-5 mt-md-4">
                    <img src="images/sp-2.png" class="img-fluid" alt="" title="">
                </div>
                <div class="col-md-4"></div> -->
    <!-- gold sponsor -->
    <!--  <div class="col-md-1 col-sm-1 col-2 p-0 mt-5" data-aos="fade-left" data-aos-duration="3000">
                    <h3 class="spon-subhead yellow-text mt-md-5">Gold
                    </h3>
                </div>
                <div class="col-md-11 col-sm-11 col-10 p-0 mt-md-5" data-aos="fade-left" data-aos-duration="3000">
                    <div class="dotted-line pt-5"></div>
                </div>
                <div class="col-md-4 col-6 pt-md-5 mt-md-4">
                    <img src="images/sp-3.png" class="img-fluid" alt="" title="">
                </div>
                <div class="col-md-4 col-6 pt-md-5 mt-md-4">
                    <img src="images/sp-4.png" class="img-fluid" alt="" title="">
                </div>
                <div class="col-md-4"></div> -->
    <!-- silver sponsor -->
    <!--  <div class="col-md-1 col-sm-1 col-2 p-0 mt-5" data-aos="fade-left" data-aos-duration="3000">
                    <h3 class="spon-subhead yellow-text mt-md-5">Silver
                    </h3>
                </div>
                <div class="col-md-11 col-sm-11 col-10 p-0 mt-5" data-aos="fade-left" data-aos-duration="3000">
                    <div class="dotted-line pt-md-5"></div>
                </div>
                <div class="col-md-4 col-6 pt-md-5 mt-md-4">
                    <img src="images/sp-5.png" class="img-fluid" alt="" title="">
                </div>
                <div class="col-md-4 col-6 pt-md-5 mt-md-4">
                    <img src="images/sp-6.png" class="img-fluid" alt="" title="">
                </div>
                <div class="col-md-4 col-6 pt-md-5 mt-md-4">
                    <img src="images/sp-7.png" class="img-fluid" alt="" title="">
                </div> -->
    <!--  </div>
        </div>
    </section> -->
    <!-- sponsors section ended -->
{{ end }}
